@tailwind base;

@tailwind components;

@tailwind utilities;
.bg-gradient-[direction-key]-[color-key] {
  background-image: linear-gradient([direction-value], [color-value-1], [color-value-2], [...]);
}

.bg-conic-[starting-angle-key]-[position-key]-[color-key]-[length-key] {
  background-image: repeating-conic-gradient(from [starting-angle-value] at [position-value], [color-value-1], [color-value-2], [...] [length-value]);
}


body {

  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",

  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",

  sans-serif;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

}


code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",

  monospace;

}
